
<section class="choice">
    <div class="container">
        <div class="choice__content">
            <h1 class="common-title choice__title">Выберите <span>тему теста</span></h1>
            <div class="choice__description">
                Чтобы начать тест, выберите одну из предложенных ниже тем.
            </div>
            <div id="choice__options" class="choice__options"></div>
        </div>
        <div class="choice__image">
            <img
                    src="../images/choice-image.svg"
                    alt="Person"
                    width="509px"
                    height="370px"
                    loading="lazy"
            />
        </div>
    </div>
</section>

<!--<script src="../scripts/common.js"></script>-->
<!--<script src="../src/components/choice.js"></script>-->
