* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Museo Sans Cyrl", sans-serif;
  color: #333;
}

a, input {
  color: #6933DC;
  cursor: pointer;
  text-decoration: none;
}

@font-face {
  src: url("../fonts/museosanscyrl-500.ttf");
  font-family: "Museo Sans Cyrl";
}

@font-face {
  src: url("../fonts/museosanscyrl-700.ttf");
  font-family: "Museo Sans Cyrl Bold";
}

.header {
  padding: 42px 0 40px;
  border-bottom: 1px solid #DCDCF3;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

a.button {
  display: inline-block;
}

.button {
  padding: 14px 35px;
  border-radius: 6px;
  background: #6933DC;
  color: #FFF;
  font-size: 17px;
  border: none;
  cursor: pointer;
  transition: 0.4s;
  text-decoration: none;

  &:hover {
    background: #512cab;
  }

  &:disabled {
    background-color: #e2dfe7;
    cursor: not-allowed;
  }

  &-transparent {
    background-color: transparent;
    color: #6933DC;
    border: 1px solid #6933DC;

    &:hover {
      background: #6933DC;
      color: white;
    }

    &:disabled {
      background-color: transparent;
      color: #e2dfe7;
      border: 1px solid #e2dfe7;
    }
  }
}

.footer {
  color: #DCDCF3;
  text-align: center;
  font-size: 13px;
  padding-block: 40px;
}

.big__title {
  font-family: "Museo Sans Cyrl Bold", sans-serif;
  font-size: 54px;
  font-style: normal;
  line-height: 65px;

  & span {
    color: #6933DC;
  }
}

.common-title {
  font-family: "Museo Sans Cyrl Bold", sans-serif;
  font-size: 48px;
  line-height: 58px;

  & span {
    color: #6933DC;
  }
}

input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 3px solid #6933DC;
  border-radius: 50%;
  display: grid;
  place-content: center;

  &::before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    box-shadow: inset 10px 10px #6933DC;
    transition: .2s ease scale;
    scale: 0;
  }

  &:checked::before {
    scale: 1;
  }
}
