.result {
  padding-top: 140px;
  padding-bottom: 91px;
  text-align: center;

  & .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    position: relative;
  }

  &__image {
    position: absolute;
    top: 80px;
    z-index: -1;
  }

  &__title {
    max-width: 588px;
  }

  &__score {
    background-image: url('/images/result-image.svg');
    background-size: cover;
    background-position: center;
    width: 480px;
    height: 388px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 158px;
    line-height: 190px;
    font-family: "Museo Sans Cyrl Bold", sans-serif;
    text-align: center;
    color: #FFFFFF;
  }

  &__correct-answers {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 13px;
    align-self: flex-end;

    &:hover {
      color: #512cab;

      & svg path {
        stroke: #512cab;
      }
    }
  }
}
